# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb_uri
# MONGO_URI=mongodb://localhost:27017/

# Supabase credentials
SUPABASE_JWT_SECRET=YOUR_SECRET
SUPABASE_KEY=YOUR_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY
SUPABASE_URL=YOUR_URL
ALLOWED_ORIGINS=YOUR_ALLOWED_ORIGINS
# JWT (if you’re using your own token system for users)
JWT_SECRET=YOUR_SECRET

CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET

# Razorpay credentials
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET